<div class="buttons are-small as-bottom">
  <%= button_to({ controller: 'refunds', action: 'new', payment_id: @payment.id }, class: 'button is-info') do %>
    <%= svg_tag 'thumbs-down' %>
    <span class="ml-1"><%= t('.refunds.new.title') %></span>
  <% end %>
</div>
