<div class="has-page-centered">
  <span>订单管理</span>
  <%= link_to({ controller: 'trade/admin/orders', action: 'show', id: @order.id, host: @order.organ.admin_host }) do %>
    <span><%= t('trade.admin.orders.show.title') %></span>
  <% end %>
</div>
